*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: url("https://loremflickr.com/1600/900/nature,landscape");
    background-size: cover; /* cobrir toda area*/
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* view height para ocupar a tela toda*/
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-container{
    background-color: rgba(0, 0, 0, 0.9);
    width: 461px;
    padding: 20px;
    border-radius: 20px;
}
.input-city{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #7c7c7c2b;
    color: #fff;
    font-size: 20px;
    width: calc(100% -100px);
}

.btn{
    padding: 10px;
    border: none;
    background-color: #7c7c7c2b;
    border-radius: 50%;
    margin-left: 8px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}
.btn:hover{
    background-color: #7c7c7c;
    transform: scale(1.2);
}
.box{
    margin-top: 30px;
}

.cidade{
    font-size: 28px;
    color: #fff;
}

.temp{
    font-size: 30px;
    color: #fff;

}
.icon{
    

}
.umidade{
    font-size: 20px;
    color: #fff;
}

.btn-IA{
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(64, 64, 234);
    border: none;


}
.respot-IA{
    color: #fff;
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
}